ion-header {
    ion-toolbar {
      --background: #ffcb05; 
      --color: #3c5aa6; 
  
      ion-title {
        font-weight: bold;
        font-size: 1.5em;
      }
    }
  }
  
  ion-content {
    --background: #f0f0f0; 
    ion-list {
      background: transparent;
  
      ion-item {
        --background: #ffffff; 
        --border-radius: 8px; 
        margin-bottom: 8px; 
        --padding-start: 16px;
        --padding-end: 16px;
  
        ion-label {
          color: #3c5aa6; 
          font-size: 1.2em;
        }
      }
    }
  }